<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="dfs-client-java">
    <test name="common">
        <classes>
            <class name="com.httpds.testng.BastTest">
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.httpds.testng.TestNGReporterListener"/>
    </listeners>
</suite>